# 搜索
TAVILY_API_KEY=your_tavily_api_key
TAVILY_MAX_RESULTS=8
# ["basic", "advanced", "fast", "ultra-fast"]
TAVILY_SEARCH_DEPTH=advanced
TAVILY_INCLUDE_IMAGES=True
TAVILY_INCLUDE_IMAGES_DESCRIPTIONS=True
TAVILY_INCLUDE_FAVICON=True
TAVILY_INCLUDE_USAGE=True

# 模型
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL_NAME=deepseek-v4-flash
DEEPSEEK_TEMPERATURE=0.2
DEEPSEEK_REASONING_EFFORT=high

# 缓存
SIM_THRESHOLD=0.75

